* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  min-height: 100vh;
}
.block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: 2s block;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  width: 250px;
  height: 100px;
  background-color: coral;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  font-size: 14px;

  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
}
@keyframes block {
  0% {
    top: 0;
    left: 0;
  }
  100% {
    top: calc(50vh - 50px);
    left: 0;
  }
}
