* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
@media (min-width: 600px) {
  .container {
    display: flex;
  }
}
.square {
  width: 100px;
  height: 100px;
  margin: 8px;
  background-color: #8a2be2;
}
@media (max-width: 600px) {
  .square {
    background-color: #ff7f50;
  }
}
