   header{
       display: flex;
       justify-content: center;
       /* align-items: center; */
   }
   .article{
       margin: 16px;
       padding:16px;
       background-color:bisque;
       
   }
   .articles-list{
       display: flex;
       flex-wrap: wrap;
       flex-basis:300px;
   }